html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scroll-behavior: smooth;
}
body{
    background: white;
}
header{
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 2px;
}
header .logo a{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.hamburger{
    display: none;
    cursor: pointer;
}

.login{
    padding-left: 20px;
}

.container{
    border-radius: 10px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    background-color: #fff;
    padding-left: 100px;
    height: 100vh;
}
.login-left{
    display: flex;
    flex-direction: column;
    justify-content: content;
    padding-left: 100px;
    background-color: white;
}
.login-right{
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    object-fit: cover;
}
.under-layer {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 45vw;
    background-color: #ffba50;
    z-index: 0;
    right: 0%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.login-right img{
    width: 100%;
    z-index: 1;
}
.login-header{
    margin-top: 50px;
}
.login-header h1{
    font-size: 2rem;
    font-weight: 700;
}
.login-header p{
    margin-top: 20px;
    opacity: .7;
}
.login-form{
    width: 450px;
    margin-top: 50px;
}
.login-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.login-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
    font-size: 1rem;
}
.login-footer a{
    flex: 6;
    gap: 15px;
    background-color: #eee;
    border-radius: 10px;
    padding: .6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
.login-footer a:hover{
    background-color: black;
    color: white;
}
.form-tem label:not(.checkboxLabel){
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}
input[type='email'],
input[type='password']{
    border: 1px solid black;
    height: 7vh;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 10px;
}
.pass-key{
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 10px;
}
.show{
    display: block;
    position: absolute;
    margin-left: 380px;
    bottom: 250px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}
label[for = email],
label[for = password],
label[for = text]{
    font-size: 1.1rem;
    padding-left: 20px;
    font-weight: 4600;;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: black;
}
button{
    border: none;
    padding: 1rem;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .5s;
}
button:hover{
    background: black;
    color: white;
}
::placeholder{
    color: grey;
    font-size: 1rem;
}
/* optimisaton for low res devices */

@media(max-width:1300px){
    header{
        position: 0 50px;
    }
    .login-left{
        padding: 50px !important;
    }
    .login-right{
        width: 500px;
    }
    .login-form{
        width:100%;
    }
    .login-footer{
        flex-direction: column;
        gap: 15px;
    }
}
@media(max-width:1100px){
    header{
        padding: 0 30px;
    }
    .login-right{
        width: 400px;
    }
}
@media(max-width:900px){
    .login-header h1{
        font-size: 25px;
    }
    .login-header p{
        font-size: 16px;
    }
    .login-right{
        width: 400px;
    }
    .container.active{
        filter: blur();
    }
    .container.active{
        filter: blur(15px);
    }
    .hamburger{
        display: block;
        z-index: 99999;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
        /* z-index: 999; */
        cursor: pointer;
    }
   
    }
@media(max-width:768px){
    .login-header h1{
        font-size: 30px;
    }
    body{
        padding: 20px;
    }
    .container{
        grid-template-columns: auto;
    }
    .login-right{
        display: none;
    }
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}
.btn-submit{
    border: 1px solid rgb(107, 107, 107);
    margin-bottom: 0;
    padding: 0;
    height: 6vh;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: 0 10px;
}
