.active-tab {
    font-weight: bold;
    background-color: rgb(41, 145, 214);
    color: #fff;
}
.tab-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

#tab-info,
#tab-manage {
    /* border: 1px solid black; */
    padding: 8px;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.information-tab,
.manageMeal-tab {
    min-height: 80vh;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0 5px 5px 5px;
    background-color: #fff;
}
.information-tab {
    display: flex;
    flex-direction: row;
}
.left-column {
    min-height: 80vh;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #000;
    border-right: 1px dashed rgb(167, 167, 167);
}
.left-column p {
    margin-top: 2vh;
}
.right-column {
    min-height: 80vh;
    width: 65%;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 100%;
}

.avatar-container {
    width: 15vw;
    height: 15vw;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2vh;
    cursor: pointer;
    border: 1px solid black;
}

.avatar-container:hover{
    border: 3px solid rgb(0, 255, 34);

}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    flex: 1;
    width: 80%;
}

.infor-input {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.infor-input label {
    width: 20%;
}

.infor-input .i-text {
    border-radius: 1vh;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 80%;
    margin: 1vh 2vw;
    height: 60%;
}

.infor-input .i-num {
    border-radius: 1vh;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 25%;
    margin: 1vh 1vw;
    height: 60%;
}

.button-container-profile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 1vw;
    margin-top: 1.5vh;
}

.button-container-profile button {
    border-radius: 4px;
    background-color: rgb(68, 167, 239);
    border: none;
    color: #fff;
    padding: 2px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button-container-profile button:hover{
    background-color: rgb(25, 146, 233);

}


.infor-input .s-num {
    margin: 1vh 1vw;
    height: 60%;
}

.dashed-line{
    margin-top: 3vh;
    border: 0.1px solid rgb(205, 205, 205);
}


#image-upload {
    display: none;
}